@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
    --theme-color: white;
    --primary-color: #124f88;
    --secundary-color: #F7C331;
    --text-color-inverse: white;
    --text-color: black;
    --navbar-shallow-color: #d4d0d0;
    --menu-mobile-background-color: #3A4460;
    scroll-behavior: smooth;
}

header {
    font-family: 'Poppins', sans-serif;
    background-color: var(--theme-color);
    position: fixed;
    min-width: 500px;
}

section [id]{
    scroll-margin-top: 70px;
}

body{
    font-family: 'Montserrat', sans-serif;
    padding-top: 75px;
   
}

.observer-root-margin{
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.horizontal-padding{
    padding-left: 25px;
    padding-right: 25px;
    background: linear-gradient(to top, rgba(43, 49, 53, 0.8), rgb(63, 68, 71)),
    url(https://blog.linkaform.com/hs-fs/hubfs/mhYv1DC-1.jpg?width=796&name=mhYv1DC-1.jpg);
    background-size: cover;
}

.vertical-padding{
    padding-top: 25px;
    padding-bottom: 25px;
    background: linear-gradient(to top, rgba(43, 49, 53, 0.8), rgb(63, 68, 71)),
    url(https://blog.linkaform.com/hs-fs/hubfs/mhYv1DC-1.jpg?width=796&name=mhYv1DC-1.jpg);
    background-size: cover;
}

.redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.redes a:hover{
    background-color: #1CB698;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
    font-size: 20px;
}

footer .arriba:hover{
    width: 55px;
    font-size: 22px;
    height: 55px;
    justify-content: center;
    line-height: 55px;
    transition: .6s;
}

footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

@media (min-width: 950px){
    .horizontal-padding{
        max-width: auto;
        padding-left: 70px;
        padding-right: 70px;
        
    }
    
    html, body {
     min-height: 100%;
}

    .vertical-padding{
        max-width: auto;
        padding-top: 70px;
        padding-bottom: 70px;
        
    }
}
