.precios{
    background: #2F2F2F;
    color: #fff;
    background-size: cover;
    
    justify-content: space-between;
    display: flex;
}

.precios .izq{
    font-family: 'Poppins', sans-serif;
    border-right: 2px solid #008e97;
    padding: 50px;
    
    width: 100vh;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.precios .izq h2{    
    font-size: 32px;

    color: white;

    border: 2px solid #008e97;

    border-radius: 5px;

    box-shadow: #2F2F2F;

    padding: 20px;

    text-align: center;

    grid-template-columns: 1fr 1fr;
} 

.precios .izq p{
    font-size: 24px;
    margin-top: 50px;
    line-height: 35px;
    text-align: center;
}

.precios .izq i{
    color: red;
}

.precios .der{
    font-family: 'Poppins', sans-serif;
    padding: 50px;
    width: 100vh;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.precios .der a{
    padding: 50px;
    font-size: 33px;
    color: #fff;
    border: 19px solid #008e97;
    border-style: groove;
    text-decoration: double;
    text-align: center;
    margin:  auto;
}

@media (max-width: 900px){

    .precios{
        display: block;
        height: auto;
        
    }

    .precios .izq{
        width: 42vh;
        border-right: none;
        align-items: center;
        border-bottom: 2px solid #fff;
    }

    .precios .izq h2{
        padding: 20px;
    }

    .precios .der{
        width: 42vh;
        padding: 40px;
        align-items: center;
    }


}
